rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read access for all images
      allow read: if true;
      
      // Allow write/delete access only to authorized administrators
      allow write, delete: if request.auth != null && 
                           (request.auth.token.email == "hospitalityhub164@gmail.com" || 
                            request.auth.token.email == "shahtah5572345@gmail.com");
    }
  }
}
